@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">

    <div class="tieude_noidung_trai">
        tin tức
        <ul class="hidden-xs">
            @if (Model != null)
            {
                foreach (var item in Model.ListMenu)
                {
                    if (item.MenuID != 1 && item.MenuID != 2)
                    {
                        <li><a href="javascript:;" onclick="LoadArticleByCate(@item.MenuID)">@item.MenuName</a></li>
                    }
                }
            }
        </ul>
    </div>
    <div id="divLoadArticleByCate">
        @{
            Lib.Nomark rw = new Lib.Nomark();
            var urlRoot = ViewBag.UrlRoot;
        }

        <div class="box_noidung_trai">
            <div class="row">
                @if (Model != null)
                {
                    var _count = 0;
                    @foreach (var item in Model.ListArticle)
                    {
                        var urlLink = urlRoot + rw.VietnameseNoMark(item.Title.ToLower()) + "-post" + item.ArticleID.ToString();

                        <div class="col-lg-6 col-md-6 col-sx-8 col-sm-12">
                            @if (_count % 2 == 0)
                            {
                                <div class="box_img_link_tintuc">
                                    <div class="box_img_tin_tuc"><a href="@urlLink"><img src="@item.Image" alt="@item.Title" style="width: 360px; height: 220px"></a></div>
                                    <a class="text_tieude_ud" href="@urlLink">@item.Title</a>
                                    <span>@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</span>
                                    <p>@item.Description, 150</p>
                                </div>
                            }
                            else
                            {
                                <div class="box_img_link_tintuc">
                                    <div class="box_img_tin_tuc"><a href="@urlLink"><img src="@item.Image" style="width: 360px; height: 220px" alt="@item.Title"></a></div>
                                    <a class="text_tieude_ud" href="@urlLink">@item.Title</a>
                                    <span>@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</span>
                                    <p>@item.Description, 150</p>
                                </div>

                            }
                        </div>
                        if (_count % 2 != 0)
                        {
                            <div class="clear"></div>
                        }
                        _count++;
                    }
                }

            </div>
        </div>

    </div>
    <ul class="list_xemthem">
        <li><a href="tin-tuc">Xem thêm</a></li>
    </ul>


    <div class="tieude_noidung_trai">
        video/ảnh
        <ul class="hidden-xs">
            <li><a href="javascript:;" onclick="videoImgIndex(9)">tất cả</a></li>
            <li><a href="javascript:;" onclick="videoImgIndex(11)">video</a></li>
            <li><a href="javascript:;" onclick="videoImgIndex(10)">album ảnh</a></li>
        </ul>
    </div>
    <div class="box_noidung_trai">
        <div class="row list-img-index">
            @*@Html.Action("VideoPartial", "Home")*@
            @if(Model != null)
            {
                for (int i = 0; i < Model.ListVideo.Count; i++)
                {
                    var item = Model.ListVideo[i];

                    var rwtitle = urlRoot + rw.VietnameseNoMark(item.Title.ToLower()) + "-post" + item.ArticleID.ToString();
                    if (i % 2 == 0)
                    {
                        @: <div class="col-lg-6 col-md-6 col-sx-8 col-sm-12">
                    }

                    <div class="box_img_link_tintuc">
                        <div class="box_img_tin_tuc">
                            <a href="@rwtitle">
                                <img src="@item.Image" alt="" title="@item.Title" style="width: 360px; height:220px ">
                            </a>
                        </div>
                        <a class="text_tieude_ud" href="@rwtitle" title="@item.Title" style="display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">@item.Title</a>
                        <span>@item.PublishDate.ToString("dd/MM/yyyy HH:mm")</span>
                        <p title="@item.Description" style="display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;">@item.Description</p>
                    </div>

                    if (i % 2 != 0 || i == ViewBag.Count - 1)
                    {
                        @: </div>
                    }
                }
            }

        </div>
    </div>
    <ul class="list_xemthem">
        <li><a id="link_videoImg" href="#video-anh">Xem thêm</a></li>
    </ul>


</div>