@model ArticleDetail


<div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">
    @if (Model != null && Model.Detail != null)
    {
        var data = Model.Detail;
        var listImage = Model.ListImage;

        if (data.MenuID == 11) //video
        {
            <div class="tieude_noidung_trai">
                Chi tiết video
            </div>
            <div class="noidung_chitiet_tintuc">
                <b>@data.Title</b>
                <em style="display:block;">@data.PublishDate.ToString("dd/MM/yyyy")</em>
                <p style="margin-bottom: 10px">@data.Description</p>
                <div class="box_img_chitiet_tin">
                    @*<img src="images/img_chitiet_tintuc.jpg" class="img-responsive" alt="">*@

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@data.MetaData"></iframe>
                    </div>


                    <div class="box_ten_tacgia">
                        <strong style="font-size:16px;"> @data.Author</strong>
                    </div>

                </div>
                <div class="box_binhluan_face">
                    @*<img src="images/img_binhluan.jpg" class="img-responsive" alt="">*@
                    @*<div class="fb-like" data-href="@Request.Url.ToString().Replace(":8001", "")" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

                    <div class="fb-comments" data-href="@Request.Url.ToString().Replace(":8001", "")" data-numposts="5" width="100%"></div>*@
                </div>
            </div>
        }
        else if (data.MenuID == 10) //album anh
        {
            <div class="tieude_noidung_trai">
                Chi tiết hình ảnh
            </div>
            <div class="noidung_chitiet_tintuc">
                <b>@data.Title</b>
                <em style="display:block;">@data.PublishDate.ToString("dd/MM/yyyy")</em>
                <p style="margin-bottom: 10px">@data.Description</p>
                <div class="demo">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        @if (listImage != null && listImage.Count > 0)
                        {
                            foreach (var item in listImage)
                            {
                                <li data-thumb="@item.FilePath">
                                    <img class="img-responsive" src="@item.FilePath" />
                                    <div class="chu_thick_img">@item.Description</div>
                                </li>
                            }
                        }


                    </ul>
                </div>
                <div class="box_ten_tacgia">
                    <strong style="font-size:16px;">
                        @data.Author
                    </strong>
                </div>
                <div class="box_binhluan_face">
                    @*<div class="fb-like" data-href="@Request.Url.ToString().Replace(":8001", "")" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

                    <div class="fb-comments" data-href="@Request.Url.ToString().Replace(":8001", "")" data-numposts="5" width="100%"></div>*@
                </div>
            </div>

        }
        else
        {
            <div class="tieude_noidung_trai">
                Tin tức <em></em> @data.MenuName
            </div>

            <div class="noidung_chitiet_tintuc">
                <b>@data.Title</b>
                <em style="display:block;">@data.CreateDate.ToString("dd/MM/yyyy HH:mm")</em>
                <p style="font-weight: bold;">
                    @Html.Raw(data.Description)
                </p>
                <div class="box_img_chitiet_tin">
                    @if (!string.IsNullOrEmpty(data.ImageDetail))
                    {
                        <center> <img src="@data.ImageDetail" class="img-responsive" alt=""></center>
                    }
                </div>
                <ul class="list_binhchon_luon">
                    <li><img src="images/icon_view.png" alt="">@data.CountView Xem</li>
                </ul>
                <p>
                    @Html.Raw(data.Detail)
                </p>
                @if (!string.IsNullOrEmpty(data.BottomDesc))
                {
                    <div class="box_ghi_chu" style="text-align:justify;">
                        @Html.Raw(data.BottomDesc)
                    </div>
                }

                @*@{
                    int Total = 0;
                    var lst_ = W1400.DataAccess.Factory.AbstractDAOFactory.Instance().CreateArticleDAO().SP_Article_GetList_Web(1, Model.ArticleID, "", 0, "", "", -1, 1, 1, out Total);
                }*@
                @*@if (lst_ != null && lst_.Count > 0)
                {
                    if (lst_[0].MenuID == 13)
                    {
                        <center>
                            <a target="_blank" href="@Model.MetaData">
                                <img src="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]images/img_ung_ho.png" />
                            </a>
                        </center>
                        <br /><br />
                    }
                }*@
                <strong style="float:right;font-size:16px;">
                    @Html.Raw(data.Author)
                </strong>
                <div class="box_binhluan_face">
                    @*<img src="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]images/img_binhluan.jpg" class="img-responsive" alt="">*@
                    @*<div class="fb-like" data-href="@Request.Url.ToString().Replace(":8001", "")" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

                    <div class="fb-comments" data-href="@Request.Url.ToString().Replace(":8001", "")" data-numposts="5" width="100%"></div>*@
                </div>
            </div>
        }


        <div id="show_relationArticle">
            @*@Html.Action("RelationArticlePartial", "Article", new { ArticleId = Model.ArticleID, CurrentPage = 1 })*@
        </div>
    }


</div>