@{
    W1400.Utility.NoMark rw = new W1400.Utility.NoMark();
}
<div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">
    <div class="tieude_noidung_trai">
        Video ảnh
        @*@Html.Action("MenuArticle", "Partial", new { UrlRewrite = "video-anh" })*@
        <ul class="hidden-xs">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]video-anh">VIDEO/ẢNH</a></li>
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]album-anh">ALBUM ẢNH</a></li>
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]video">VIDEO</a></li>
        </ul>
    </div>

    <div class="noidung_chitiet_tintuc margin_bottom_30px">
        @if (ViewBag.Article != null)
        {
            <div class="box_img_chitiet_tin">
                @if (!string.IsNullOrEmpty(ViewBag.Article.ImageDetail))
                {
                    <a style="cursor:pointer;" href="@ViewBag.rewrite">
                        <img src="@ViewBag.Article.ImageDetail.750.320.cache" class="img-responsive" alt="@ViewBag.Article.Title">
                    </a>
                }
            </div>
            <span style="    font-size: 24px;"><a class="text_tieude_ud" style="cursor:pointer;" href="@ViewBag.rewrite" title="@ViewBag.Article.Title">@ViewBag.Article.Title</a></span>
            <em style="width: 50%; float: left">@ViewBag.Article.PublishDate.ToString("dd/MM/yyyy")</em>
            <ul class="list_binhchon_luon" style="width: 50%; float: right">

                <li><img src="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]images/icon_view.png" alt="">@ViewBag.Article.CountView Xem</li>
            </ul>
            <p>
                @Html.Raw(ViewBag.Article.Description)
            </p>
        }
    </div>



    <div class="tieude_noidung_trai">
        VIDEO
    </div>
    <div class="box_noidung_trai">
        <div class="row">
            @if (ViewBag.list_video != null && ViewBag.list_video.Count > 0)
            {
                for (int i = 0; i < ViewBag.list_video.Count; i++)
                {
                    var item = ViewBag.list_video[i];
                    string rwtitle = rw.ReWrite(item.Title, item.ArticleID);
                    if (i % 2 == 0)
                    {
                        @: <div class="col-lg-6 col-md-6 col-sx-8 col-sm-12">
                        }

                        <div class="box_img_link_tintuc">
                            <div class="box_img_tin_tuc">
                                <a href="@rwtitle" title="@item.Title"><img src="@item.Image.360.220.cache" style="width: 360px; height: 220px" alt=""></a>
                            </div>
                            <a class="text_tieude_ud" href="@rwtitle" title="@item.Title">@W1400.Utility.DBCommon.SubString(item.Title, 85)</a>
                            <span>@item.PublishDate.ToString("dd/MM/yyyy")</span>
                            <p title="@item.Description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; ">@W1400.Utility.DBCommon.SubString(item.Description, 150)</p>
                        </div>

                        if (i % 2 != 0 || i == ViewBag.list_video.Count - 1)
                        {
                        @: </div>
                    }
                }
            }
        </div>
    </div>
    <ul class="list_xemthem">
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]video">Xem thêm</a></li>
    </ul>
    <div class="tieude_noidung_trai">
        ALBUM ẢNH
    </div>
    <div class="box_noidung_trai">
        <div class="row">
            @if (ViewBag.list_album != null && ViewBag.list_album.Count > 0)
            {
                for (int i = 0; i < ViewBag.list_album.Count; i++)
                {
                    var item = ViewBag.list_album[i];
                    string rwtitle = rw.ReWrite(item.Title, item.ArticleID);
                    if (i % 2 == 0)
                    {
                        @: <div class="col-lg-6 col-md-6 col-sx-8 col-sm-12">
                        }

                        <div class="box_img_link_tintuc">
                            <div class="box_img_tin_tuc">
                                <a href="@rwtitle" title="@item.Title"><img src="@item.Image.360.220.cache" style="width: 360px; height: 220px" alt=""></a>
                            </div>
                            <a class="text_tieude_ud" href="@rwtitle" title="@item.Title" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">@W1400.Utility.DBCommon.SubString(item.Title, 85)</a>
                            <span>@item.PublishDate.ToString("dd/MM/yyyy")</span>
                            <p title="@item.Description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">@W1400.Utility.DBCommon.SubString(item.Description, 150)</p>
                        </div>

                        if (i % 2 != 0 || i == ViewBag.list_album.Count - 1)
                        {
                        @: </div>
                    }
                }
            }
        </div>
    </div>
    <ul class="list_xemthem">
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]album-anh">Xem thêm</a></li>
    </ul>
</div>