@model NewsPageModel
@using Lib
@{
    var UrlRoot = ViewBag.UrlRoot;
    var rw = new Nomark();
}
<div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">
    <div class="tieude_noidung_trai">
        Video ảnh
        <ul class="hidden-xs">
            <li><a href="video-anh">VIDEO/ẢNH</a></li>
            <li><a href="album-anh">ALBUM ẢNH</a></li>
            <li><a href="video">VIDEO</a></li>
        </ul>
    </div>

    <div class="noidung_chitiet_tintuc margin_bottom_30px">
        @if (Model != null && Model.ArtHot != null)
        {
            var urlLink = UrlRoot + rw.UrlReMark(Model.ArtHot.Title.ToLower()) + "-post" + Model.ArtHot.ArticleID.ToString();

            <div class="box_img_chitiet_tin">
                <a style="cursor:pointer;" href="@urlLink">
                    <img src="@Model.ArtHot.ImageDetail" style="width: 750px; height: 320px" class="img-responsive" alt="@Model.ArtHot.Title">
                </a>
            </div>
            <span style="font-size: 24px;"><a class="text_tieude_ud" style="cursor:pointer;" href="@urlLink" title="@Model.ArtHot.Title">@Model.ArtHot.Title</a></span>
            <em style="width: 50%; float: left">@Model.ArtHot.PublishDate.ToString("dd/MM/yyyy")</em>
            <ul class="list_binhchon_luon" style="width: 50%; float: right">

                <li><img src="images/icon_view.png" alt="">@Model.ArtHot.CountView Xem</li>
            </ul>
            <p>
                @Html.Raw(Model.ArtHot.Description)
            </p>
        }
    </div>



    <div class="tieude_noidung_trai">
        VIDEO
    </div>
    <div class="box_noidung_trai">
        <div class="row">
            @if (Model != null && Model.ListVideo != null)
            {
                for (int i = 0; i < Model.ListVideo.Count; i++)
                {
                    var item = Model.ListVideo[i];
                    var urlLinkVideo = UrlRoot + rw.UrlReMark(item.Title.ToLower()) + "-post" + item.ArticleID.ToString();
                    if (i % 2 == 0)
                    {
                        @: <div class="col-lg-6 col-md-6 col-sx-8 col-sm-12">
                        }

                        <div class="box_img_link_tintuc">
                            <div class="box_img_tin_tuc">
                                <a href="@urlLinkVideo" title="@item.Title"><img src="@item.Image" style="width: 360px; height: 220px" alt=""></a>
                            </div>
                            <a class="text_tieude_ud" href="@urlLinkVideo" title="@item.Title">@item.Title</a>
                            <span>@item.PublishDate.ToString("dd/MM/yyyy")</span>
                            <p title="@item.Description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; ">@item.Description</p>
                        </div>

                        if (i % 2 != 0 || i == Model.ListVideo.Count - 1)
                        {
                        @: </div>
                    }
                }
            }
        </div>
    </div>
    <ul class="list_xemthem">
        <li><a href="video">Xem thêm</a></li>
    </ul>
    <div class="tieude_noidung_trai">
        ALBUM ẢNH
    </div>
    <div class="box_noidung_trai">
        <div class="row">
            @if (Model != null && Model.ListAlbum != null)
            {
                for (int i = 0; i < Model.ListAlbum.Count; i++)
                {
                    var item = Model.ListAlbum[i];
                    var urlLinkAlbum = UrlRoot + rw.UrlReMark(item.Title.ToLower()) + "-post" + item.ArticleID.ToString();
                    if (i % 2 == 0)
                    {
                        @: <div class="col-lg-6 col-md-6 col-sx-8 col-sm-12">
                        }

                        <div class="box_img_link_tintuc">
                            <div class="box_img_tin_tuc">
                                <a href="@urlLinkAlbum" title="@item.Title"><img src="@item.Image" style="width: 360px; height: 220px" alt=""></a>
                            </div>
                            <a class="text_tieude_ud" href="@urlLinkAlbum" title="@item.Title" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">@item.Title</a>
                            <span>@item.PublishDate.ToString("dd/MM/yyyy")</span>
                            <p title="@item.Description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">@item.Description</p>
                        </div>

                        if (i % 2 != 0 || i == Model.ListAlbum.Count - 1)
                        {
                        @: </div>
                    }
                }
            }
        </div>
    </div>
    <ul class="list_xemthem">
        <li><a href="album-anh">Xem thêm</a></li>
    </ul>
</div>